# If you want to ignore a file that is already being tracked, run
# $ git rm --cached <file>

.config/bspwm/monitors
.config/bspwm/startup.sh

.oh-my-zsh/custom/plugins
.oh-my-zsh/cache
.vim/bundle

.config/mutt/cache

.config/polybar/panels/launch.sh
.config/polybar/panels/config.ini

.oh-my-zsh/cache

.config/joplin-desktop/resources
.config/joplin-desktop/tmp
.config/joplin-desktop/database.sqlite
.config/joplin-desktop/log.txt

.config/youtube-viewer/api.json

.fzf

.config/joplin-desktop/settings.json
